* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.navbar {
  padding: 20px 0;
  background-color: antiquewhite;
}

.navbar ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navbar ul li a.active {
  color: red;
}